services:
  # MongoDB Database
  mongodb:
    image: mongo:latest
    container_name: mongodb-db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: tasks
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d
    networks:
      - tasks-network

volumes:
  mongodb_data:

networks:
  tasks-network:
    driver: bridge
